{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
<main>
    <section class="bt wish-list-sec">
        <div class="container">
            <h5 class="h5 text-black mb-4">Items in your wishlist : <span id="wishl-count">{{ count }}</span></h5>
            <ul class="wish-list">
                {% for item in wish_items %}
                <li>
                    <div class="wish-item">
                        <img src="{{ item.item.get_image }}" alt="">
                    </div>
                    <div class="wish-content">
                        <p class="text-black font-md"><a href="{{ item.item.get_absolute_url }}">{{ item.item.name }}</a></p>
                        <p class="text-primary">{{ item.item.category.store_sub_category.store_category.name }} > {{ item.item.category.name }}</p>
                        <p class="text-primary bold font-md">${{ item.item.sale_price|floatformat }} <span class="font-sm line-through normal text-medium-grey">${{ item.item.market_price|floatformat }}</span></p>
                        
                    </div>
                    <div class="wish-action">
                        <button title="Remove this item" class="wish-dismiss" data-id="{{ item.item.id }}" data-action="unwish"><i class="fa fa-close"></i></button>
                        <button title="Share this item" class="wish-share"><i class="fa fa-share"></i></button>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</main>
<script src="/static/build/js/script.js"></script>
<script>
    $(document).ready(function() {
        $('.wish-dismiss').click(function() {
            var i = $(this).attr('data-id');
            var a = $(this).attr('data-action');
            var s = $(this);
            $.post('/product/wish/',
            {
                id : i,
                action : a
            },
            function(t) {
                if(t.status == 'ok') {
                    s.parent().parent().remove();
                    $('#wishl-count').text(parseInt($('#wishl-count').text())-1);
                    $('.count__number').each(function() {
                        $(this).text(parseInt($(this).text())-1);
                    });
                }
            });
        });
    });
</script>
{% endblock %}