{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
<main>
    <!-- <div class="breadcrumb slice" style="background-image:url({% if detail_banner %}{{ detail_banner.image.url }}{% else %}http://placehold.it/1920x1080{% endif %})">
        <div class="container">
            <h4 class="h4 oswald text-uppercase mb-1">{{ product.category.store_sub_category.store_category.name }} > {{ product.category.store_sub_category.name }} > {{ product.category.name }}</h2>
        </div>
    </div> -->
    <div class="body">
        <div class="offset-md-1 col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <img class="xzoom" src="{{ product.get_image }}" xoriginal="{{ product.get_image }}" />
                    <div class="xzoom-thumbs owl-carousel owl-thumbs">
                        {% for img in images %}
                        <a href="{{ img.image_url }}">
                            <img class="xzoom-gallery" width="80" src="{{ img.image_url }}" xpreview="{{ img.image_url }}">
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="mb-3">
                        <div class="align-items-center item__info-clmns">
                            <div class="item__info-lt">
                                <div class="text-primary text-uppercase bold">{{ product.category.name }}</div>
                                <h4 class="h4 text-black oswald mb-2">{{ product.name }}</h4>
                            </div>
                            <div class="item__info-rt">
                                <img src="{{ product.advertiser.logo }}" alt="">
                            </div>
                        </div>
                        <div class="text-black text-uppercase bold font-sm mb-1">Sizes Available</div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <div class="form-group">
                                    <select name="" id="" class="form-control">
                                        {% for size in sizes %}
                                        <option value="">{{size}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text-black text-uppercase bold font-sm mb-1">Colors Available</div>
                        <div class="mb-3">
                            {% for color in product.colors.all %}
                            <label class="radio radio-circle" title="{{ color.name }}">
                                <input type="radio" name="color" id="" class="radio__input">
                                <span style="{% if color.color_img %} background-image: url({{color.color_img}}); {% else %} background-color: {{color.hex_value}} {% endif %}"></span>
                            </label>
                            {% endfor %}
                        </div>
                        <ul class="list-inline mb-2">
                            <li>
                                <p>
                                    <span class="font-md text-black bold">{% if product.sale_price %}£{{ product.sale_price }}{% endif %}</span> <span class="text-medium-grey line-through">{% if product.market_price %}£{{ product.market_price }}{% endif %}</span>
                                </p>
                            </li>
                            <li>
                                <a href="{{ product.affiliate_url }}" target="_blank" class="btn btn-primary"><i class="fa fa-cart-arrow-down"></i> Buy Now</a>
                            </li>
                        </ul>
                        {% if request.user.is_authenticated %}
                        {% with users_wished=product.wished.all %}
                        {% if request.user not in users_wished %}
                        <a class="btn text-lighter-grey wish-btn" data-id="{{ product.id }}" data-action="wish"><i class="fa fa-heart"></i> Add to Wishlist</a>
                        {% else %}
                        <a class="btn text-lighter-grey wish-btn" data-id="{{ product.id }}" data-action="unwish"><i class="fa fa-heart"></i> Remove from Wishlist</a>
                        {% endif %}
                        {% endwith %}
                        {% endif %}
                    </div>
                    <p class="bold text-black">Description</p>
                    <p>{{ product.description|linebreaks }}</p>
                    
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/static/build/js/detail.js"></script>
{% endblock %}