{% extends "base.html" %}
{% load staticfiles %}
{% load filter_extras %}
{% block title %}{% endblock %}
{% block content %}
<main>
    <!-- <div class="breadcrumb slice" style="background-image:url({% if list_banner %}{{ list_banner.image.url }}{% else %}http://placehold.it/1920x1080{% endif %})">
        <div class="container">
            <h4 class="h4 oswald text-uppercase mb-1">{% if product_category %}{{ product_category.store_sub_category.store_category.name }} > {{ product_category.store_sub_category.name }} > {{ product_category.name }}{% elif store_sub_category %}{{ store_sub_category.store_category.name }} > {{ store_sub_category.name }}{% elif store_category %}{{ store_category.name }}{% endif %}</h2>
        </div>
    </div> -->
    <div class="body">
        <div class="filter">
            <div class="filter__lt">
                <form id="listFilterForm" action="{% if product_category %}{{ product_category.get_absolute_url }}{% elif store_sub_category %}{{ store_sub_category.get_absolute_url }}{% elif store_category %}{{ store_category.get_absolute_url }}{% endif %}" method="post">
                    {% csrf_token %}
                    <div class="bold d-flex filter__title font-md justify-content-between pad-b1 text-black text-uppercase">Filter <span><input type="submit" name="Apply" class="btn btn-primary btn-xs"><a href="{% if product_category %}{{ product_category.get_absolute_url }}{% elif store_sub_category %}{{ store_sub_category.get_absolute_url }}{% elif store_category %}{{ store_category.get_absolute_url }}{% endif %}" class="btn btn-black btn-xs">Reset</a></span></div>
                    {% if store_category or store_sub_category %}
                    <p class="bold text-black mt-2 mb-2">Categories</p>
                    
                    <ul class="list">
                        {% for choice in form.categories.field.choices %}
                        <li>
                            <label class="radio">
                                {{ choice.1 }}
                                <input type="radio" name="categories" id="" class="radio__input" value="{{choice.0}}" {% ifequal form.categories.data choice.0 %}checked="checked"{% endifequal %}/>
                                <span class="radio__span"></span>
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p class="bold text-black mt-2 mb-2">Price</p>
                    <ul class="list">
                        {% for choice in form.price.field.choices %}
                        <li>
                            <label class="radio">
                                {{ choice.1 }}
                                <input type="radio" name="price" id="" class="radio__input" value="{{choice.0}}" {% ifequal form.price.data choice.0 %}checked="checked"{% endifequal %}>
                                <span class="radio__span"></span>
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                    <p class="bold text-black mt-2 mb-2">Colors</p>
                    <div>
                        {% for choice in form.colors.field.choices %}
                        <label class="radio radio-circle" title="{{ choice.1 }}">
                            <input type="checkbox" name="colors" id="" class="radio__input" value="{{choice.0}}" {% for data in form.colors.data %}{% ifequal data choice.0 %}checked="checked"{% endifequal %}{% endfor %}>
                            <span style="{% if arg|get_color_img:choice.0 %} background-image: url({{arg|get_color_img:choice.0}}); {% else %} background-color: {{arg|get_color_hex:choice.0}} {% endif %}"></span>
                        </label>
                        {% endfor %}
                    </div>
                    <p class="bold text-black mt-2 mb-2">Size</p>
                    <div>
                        {% for choice in form.sizes.field.choices %}
                        <label class="radio radio-box">
                            <input type="radio" name="sizes" id="" class="radio__input" value="{{choice.0}}" {% ifequal form.sizes.data choice.0 %}checked="checked"{% endifequal %}>
                            <span>{{ choice.1 }}</span>
                        </label>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="filter__rt">
                <div class="row">
                    {% include "shop/items/list_ajax.html" %}
                </div>
                <div class="loading" id="pagination-loading" style="display: none;">
                    <img src="/static/build/img/preloader.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/static/build/js/script.js"></script>
<script>
    $(document).ready(function() {
        var page = 1;
        var empty_page = false;
        var block_request = false;

        $(window).scroll(function() {
            var margin = $(document).height() - $(window).height() - 300;
            if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
                block_request = true;
                page += 1;
                $('#pagination-loading').css({'display' : 'block'})
                $.post('?page=' + page, $('#listFilterForm').serialize(), function(data) {
                    if(data == '') {
                        empty_page = true;
                        $('#pagination-loading').css({'display' : 'none'})
                    } else {
                        block_request = false;
                        $('#pagination-loading').css({'display' : 'none'})
                        $('.filter__rt .row').append(data);
                    }
                });
            }
        });
    });
</script>
{% endblock %}