{% for item in items %}
<div class="col-md-4 col-6">
    <div class="item">
        <div class="item__content">
            <div class="item__img">
                <img src="{{ item.get_image }}" alt="" >
            </div>
            <div class="item__info item__info-clmns">
                <div class="item__info-lt">
                    <div class="item__name text-black">{{ item.name }}</div>
                     <!-- Updated discounted price -->
                    <div class="item__price">{% if item.sale_price %}£{{ item.sale_price }}{% endif %} <span class="font-sm line-through normal text-medium-grey">{% if item.market_price %}£{{ item.market_price }}{% endif %}</span></div>
                </div>
                <div class="item__info-rt">
                    <img src="{{ item.advertiser.logo }}" alt="">
                </div>
            </div>
        </div>
        <div class="item__overlay">
            <div class="item__category">{{ item.category.name }}</div>
            <div class="item__overlay-logo"><img src="{{ item.advertiser.logo }}" alt=""></div>
            <div class="item__action">
                <a href="{{ item.affiliate_url }}" target="_blank" class="btn btn-white"><i class="fa fa-cart-arrow-down"></i> Buy</a>
                <div class="btn-group">
                    {% if request.user.is_authenticated %}
                    {% with users_wished=item.wished.all %}
                    {% if request.user not in users_wished %}
                    <button class="btn wish-btn" data-id="{{ item.id }}" data-action="wish"><i class="fa fa-heart"></i></button>
                    {% else %}
                    <button class="btn wish-btn wished" data-id="{{ item.id }}" data-action="unwish"><i class="fa fa-heart"></i></button>
                    {% endif %}
                    {% endwith %}
                    {% endif %}
                    <a href="{{ item.get_absolute_url }}" class="btn"><i class="fa fa-eye"></i></a>
                </div>
            </div>
            <div class="item__info">
                <div class="item__name">{{ item.name }}</div>
                <div class="item__price">{% if item.sale_price %}£{{ item.sale_price }}{% endif %} <span class="font-sm line-through normal">{% if item.market_price %}£{{ item.market_price }}{% endif %}</span></div>
            </div>
        </div>
    </div>
</div>
{% endfor %}