{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
<main>
    <!-- <div class="breadcrumb slice" style="background-image:url({% if list_banner %}{{ search_banner.image.url }}{% else %}http://placehold.it/1920x1080{% endif %})">
        <div class="container">
            <h4 class="h4 oswald text-uppercase mb-1">Search Results: "{{ query }}"</h2>
        </div>
    </div> -->
    <div class="body">
        <div class="filter filter-full">
            <h5 class="h5 text-black" id="search-title" data-query="{{ query }}"><span class="text-primary">{{ count }} "{{ query }}"</span> have been founded.</h5>
            <div class="filter__rt">
                {% if items %}
                <div class="row">
                    {% include "shop/items/search_results_ajax.html" %}
                </div>
                {% else %}
                <h4 class="h4 text-primary">Sorry! No <br> results <br> found</h4>
                {% endif %}
                <div class="loading" id="pagination-loading" style="display: none;">
                    <img src="/static/build/img/preloader.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/static/build/js/script.js"></script>
<script>
    $(document).ready(function() {
        var page = 1;
        var empty_page = false;
        var block_request = false;

        $(window).scroll(function() {
            var margin = $(document).height() - $(window).height() - 300;
            if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
                block_request = true;
                page += 1;
                $('#pagination-loading').css({'display' : 'block'})
                var query = $('#search-title').attr('data-query');
                $.get('?page=' + page + '&query=' + query, function(data) {
                    if(data == '') {
                        empty_page = true;
                        $('#pagination-loading').css({'display' : 'none'})
                    } else {
                        block_request = false;
                        $('#pagination-loading').css({'display' : 'none'})
                        $('.filter__rt .row').append(data);
                    }
                });
            }
        });
    });
</script>
{% endblock %}