{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
{% if message.tags == "error" %}
<div class="alert alert-danger">
    {{ message|safe }}
    <button type="button" class="alert-dismiss"><i class="fa fa-close"></i></button>
</div>
{% else %}
<div class="alert alert-success">
    {{ message|safe }}
    <button type="button" class="alert-dismiss"><i class="fa fa-close"></i></button>
</div>
{% endif %}
{% endfor %}
{% endif %}
<main>
    <section class="account-section bt">
        <div class="account">
            <div class="container">
                <div class="account-container">
                    <form action="." method="POST" class="account-col">
                        <div class="account-header">Sign In to your account</div>
                        <div class="account-body mb-2">
                            {% if form.non_field_errors %}
                            <ul class="error-list">
                                {% for err in form.non_field_errors %}
                                <li>{{ err }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% if form.username.errors %}
                            <ul class="error-list">
                                {% for err in form.username.errors %}
                                <li>{{ err }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="form-group">
                                <input type="text" placeholder="E-mail" id="email" class="form-control" name="username" value="{% if form.username.data != None %}{{ form.username.value }}{% endif %}">
                                <label class="form-label" for="email">E-mail or Username</label>
                            </div>
                            {% if form.password.errors %}
                            <ul class="error-list">
                                {% for err in form.password.errors %}
                                <li>{{ err }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="form-group">
                                <input type="password" placeholder="Password" id="password" class="form-control" name="password" value="{% if form.password.data != None %}{{ form.password.data }}{% endif %}">
                                <label class="form-label" for="password">Password</label>
                            </div>
                        </div>
                        <p>Forgot Password ? <a class="text-primary" href="{% url 'account:password_reset' %}">Click here</a></p>
                        <div class="account-footer mb-3">
                            {% csrf_token %}
                            <input class="btn btn-primary btn-block" type="submit" name="Sign In">
                        </div>
                        <div class="text-center">
                            <a href="{% url 'account:signup' %}" class="text-primary bold">Create Account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="/static/build/js/script.js"></script>
{% endblock %}