{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
<main>
    <section class="account-section bt">
        <div class="account">
            <div class="container">
                <div class="account-container">
                    <form action="." method="POST" class="account-col">
                        <div class="account-header">Forgot your password</div>
                        <div class="account-body mb-2">
                            {% if form.email.errors %}
                            <ul class="error-list">
                                {% for err in form.email.errors %}
                                <li>{{ err }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="form-group">
                                <input type="email" placeholder="E-mail" id="email" class="form-control" name="email" value="{% if form.email.data != None %}{{ form.email.data }}{% endif %}">
                                <label class="form-label" for="email">E-mail</label>
                            </div>
                        </div>
                        <p>Already have a account ? <a class="text-primary" href="/pages/account/sign-in.html">Click here</a></p>
                        <div class="account-footer">
                            {% csrf_token %}
                            <input class="btn btn-primary btn-block" type="submit" name="Forgot password">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="/static/build/js/script.js"></script>
{% endblock %}