{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
<main>
    <section class="account-section bt">
        <div class="account">
            <div class="container">
                <div class="account-container">
                    <form action="." method="POST" class="account-col">
                        <div class="account-header">Reset password</div>
                        <div class="account-body mb-2">
                            {% if form.new_password1.errors %}
                            <ul class="error-list">
                                {% for err in form.new_password1.errors %}
                                <li>{{ err }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="form-group">
                                <input type="password" placeholder="New Password" id="npassword" class="form-control" name="new_password1" value="{% if form.new_password1.data != None %}{{ form.new_password1.data }}{% endif %}">
                                <label class="form-label" for="npassword">New Password</label>
                            </div>
                            {% if form.new_password2.errors %}
                            <ul class="error-list">
                                {% for err in form.new_password2.errors %}
                                <li>{{ err }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="form-group">
                                <input type="password" placeholder="Confirm Password" id="cpassword" class="form-control" name="new_password2" value="{% if form.new_password2.data != None %}{{ form.new_password2.data }}{% endif %}">
                                <label class="form-label" for="cpassword">Confirm Password</label>
                            </div>
                        </div>
                        <p>Already have a account ? <a class="text-primary" href="/pages/account/sign-in.html">Click here</a></p>
                        <div class="account-footer">
                            {% csrf_token %}
                            <input class="btn btn-primary btn-block" type="submit" name="Reset Password">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="/static/build/js/script.js"></script>
{% endblock %}