{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
<main>
    <section class="account-section bt">
        <div class="account">
            <div class="container">
                <div class="account-container">
                    <form action="." class="account-col" method="POST">
                        <div class="account-header">Change your password</div>
                        <div class="account-body mb-2">
                            {% if form.old_password.errors %}
                            <ul class="error-list">
                                {% for err in form.old_password.errors %}
                                <li>{{ err }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="form-group">
                                <input type="password" placeholder="Old Password" id="opassword" class="form-control" name="old_password" value="{{ form.old_password.data }}">
                                <label class="form-label" for="opassword">Old Password</label>
                            </div>
                            {% if form.new_password.errors %}
                            <ul class="error-list">
                                {% for err in form.new_password.errors %}
                                <li>{{ err }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="form-group">
                                <input type="password" placeholder="New Password" id="npassword" class="form-control" name="new_password1" value="{{ form.new_password1.data }}">
                                <label class="form-label" for="npassword">New Password</label>
                            </div>
                            {% if form.new_password2.errors %}
                            <ul class="error-list">
                                {% for err in form.new_password2.errors %}
                                <li>{{ err }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="form-group">
                                <input type="password" placeholder="Confirm Password" id="cpassword" class="form-control" name="new_password2" value="{{ form.new_password2.data }}">
                                <label class="form-label" for="cpassword">Confirm Password</label>
                            </div>
                        </div>
                        <!-- <p>Already have a account ? <a class="text-primary" href="/pages/account/sign-in.html">Click here</a></p> -->
                        <div class="account-footer">
                            {% csrf_token %}
                            <input class="btn btn-primary btn-block" type="submit" name="Change Password">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="/static/build/js/script.js"></script>
{% endblock %}