{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
<main>
    <section class="account-section bt">
        <div class="account">
            <div class="container">
                <div class="account-container">
                    <form action="." method="POST" class="account-col">
                        <div class="account-header">Create a new account</div>
                        <div class="account-body mb-2">
                            {% if form.email.errors %}
                            <ul class="error-list">
                                {% for err in form.email.errors %}
                                <li>{{ err }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="form-group">
                                <input type="email" placeholder="E-mail" id="email" name="email" class="form-control" value="{% if form.email.data != None %}{{ form.email.data }}{% endif %}">
                                <label class="form-label" for="email">E-mail</label>
                            </div>
                            {% if form.password.errors %}
                            <ul class="error-list">
                                {% for err in form.password.errors %}
                                <li>{{ err }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="form-group">
                                <input type="password" placeholder="Password" id="password" name="password" class="form-control" value="{% if form.password.data != None %}{{ form.password.data }}{% endif %}">
                                <label class="form-label" for="password">Password</label>
                            </div>
                            {% if form.password2.errors %}
                            <ul class="error-list">
                                {% for err in form.password2.errors %}
                                <li>{{ err }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="form-group">
                                <input type="password" placeholder="Confirm Password" id="cpassword" name="password2" class="form-control" value="{% if form.password2.data != None %}{{ form.password2.data }}{% endif %}">
                                <label class="form-label" for="cpassword">Confirm Password</label>
                            </div>
                        </div>
                        <p>Already have a account ? <a class="text-primary" href="{% url 'account:login' %}">Click here</a></p>
                        <div class="account-footer">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary btn-block" value="Create Account">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="/static/build/js/script.js"></script>
{% endblock %}