@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/poppins/Poppins-Bold.woff2') format('woff2'),
        url('/static/fonts/poppins/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/poppins/Poppins-Medium.woff2') format('woff2'),
        url('/static/fonts/poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('/static/fonts/poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/poppins/Poppins-Regular.woff2') format('woff2'),
        url('/static/fonts/poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

