<div class="hero__section slice" style="background-image: url({{banner.image.url}});">
    <div class="hero__section-content">
        <div class="hero__section-slider text-white">
            <div class="mb-2 text-shadow">
                <h2 class="h2">Our STYL Collections</h2>
            </div>
            <div class="owl-carousel hero__section-slide">
                {% for category in store_sub_categories %}
                <a href="#" class="item">
                    <div class="item__content">
                        {% if category.image %}
                        <img src="{{ category.image.url }}" class="icon" alt="">
                        {% else %}
                        <svg class="icon"><use xlink:href="{{ category.icon }}" /></svg>
                        {% endif %}
                    </div>
                    <span>{{ category.name }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>