{% load staticfiles %}
{% load store_base %}
{% load filter_extras %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Styl</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/build/img/favicon.png" type="image/x-icon">
        <link rel="icon" href="/static/build/img/favicon.png" type="image/x-icon">
        {% if section == "shop_index" %}
        <link rel="stylesheet" href="/static/build/css/pages/landing.css">
        {% elif section == "shop_list" or section == "shop_search" %}
        <link rel="stylesheet" href="/static/build/css/pages/list.css">
        {% elif section == "shop_detail" %}
        <link rel="stylesheet" href="/static/build/css/pages/view.css">
        {% elif section == "shop_contact" or section == "shop_about" %}
        <link rel="stylesheet" href="/static/build/css/pages/contact.css">
        {% else %}
        <link rel="stylesheet" href="/static/build/css/pages/account.css">
        {% endif %}
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <header class="header">
            <div class="header__tp-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <a href="#" class="nav__toggle-xs"><i class="fa fa-bars"></i><i class="fa fa-close"></i></a>
                        </div>
                        <div class="col-9 text-right">
                            <ul class="list-inline">
                                <li>
                                    <a href="#" class="search-xs"><i class="fa fa-search"></i></a>
                                </li>
                                {% if request.user.is_authenticated %}
                                <li>
                                    <a title="Sign Out" href="{% url 'account:logout' %}">
                                        <i class="fa fa-sign-out"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'account:wishlist' %}" class="count">
                                        <span class="count__number">{{ arg|get_wishlist_count:request.user }}</span>
                                        <i class="fa fa-heart"></i>
                                    </a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="{% url 'account:login' %}"><i class="fa fa-user"></i></a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="header__tp-xs-search">
                        {% show_search_xs store_base %}
                    </div>
                </div>
            </div>
            <div class="header__bt">
                <div class="container">
                    <div class="header__bt-lt">
                        {% show_search store_base %}
                    </div>
                    <div class="header__bt-logo">
                        <a href="/"><img src="/static/build/img/logo.svg" alt=""></a>
                    </div>
                    <div class="header__bt-rt">
                        <ul class="list-inline">
                            {% if request.user.is_authenticated %}
                            <li>
                                <a title="Sign Out" href="{% url 'account:logout' %}">
                                    <i class="fa fa-sign-out"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'account:wishlist' %}" class="count">
                                    <span class="count__number">{{ arg|get_wishlist_count:request.user }}</span>
                                    <i class="fa fa-heart"></i>
                                </a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'account:login' %}"><i class="fa fa-user"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <nav class="navigation">
                <div class="container">
                    {% show_menu store_base %}
                </div>
            </nav>
        </header>

        {% block content %}{% endblock %}

        <footer>
            <div class="container text-center">
                <img src="/static/build/img/logo-inverse.svg" class="footer-logo" alt="">
                <ul class="list-inline mb-1">
                    <li><a href="{% url 'shop:about' %}">About</a></li>
                    <li><a href="{% url 'shop:terms' %}">Terms & Conditions</a></li>
                    <li><a href="{% url 'shop:policy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'shop:contact' %}">Contact</a></li>
                </ul>
                <ul class="list-inline social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <div class="copyright">
                    <span>All rights reserved. 2018.</span>
                </div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script>
            $('.alert-dismiss').click(function(){$(this).parent().fadeOut();});
            function csrfSafeMethod(e){return/^(GET|HEAD|OPTIONS|TRACE)$/.test(e)}var csrftoken=$.cookie("csrftoken");$.ajaxSetup({beforeSend:function(e,t){csrfSafeMethod(t.type)||this.crossDomain||e.setRequestHeader("X-CSRFToken",csrftoken)}});
            $(document).ready(function(){$(".wish-btn").click(function(){var t=$(this).attr("data-id"),a=$(this).attr("data-action"),i=$(this);$.post("/product/wish/",{id:t,action:a},function(t){"ok"==t.status&&"wish"==a?(i.attr("data-action","unwish"),i.addClass("wished"),$('.count__number').each(function(){$(this).text(parseInt($(this).text())+1)}),""!=i.text()&&i.html('<i class="fa fa-heart"></i> Remove from Wishlist')):(i.attr("data-action","wish"),i.removeClass("wished"),$('.count__number').each(function(){$(this).text(parseInt($(this).text())-1)}),""!=i.text()&&i.html('<i class="fa fa-heart"></i> Add to Wishlist'))})})});
        </script>
    </body>
</html>