<section class="category-section">
    <div class="grid__row mb-3">
        {% if banner_tl %}
        <div class="grid-6 grid-xs-12">
            <div class="img-container img__top">
                <img src="{{ banner_tl.image.url }}" alt="">
                <div class="img-container-content img-container-content-1">
                    <div class="text-center">
                        <h2 class="h2 h-break text-shadow">{{ banner_tl.title }}</h2>
                        <a href="{{ banner_tl.get_absolute_url }}" class="btn btn-lg btn-white">{{ banner_tl.btn_text }}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if banner_tr %}
        <div class="grid-6 grid-xs-12">
            <div class="img-container img__top">
                <img src="{{ banner_tr.image.url }}" alt="">
                <div class="img-container-content img-container-content-1">
                    <div class="text-center">
                        <h2 class="h2 h-break text-shadow">{{ banner_tr.title }}</h2>
                        <a href="{{ banner_tr.get_absolute_url }}" class="btn btn-lg btn-white">{{ banner_tr.btn_text }}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% if banner_cl %}
    <div class="img-container mb-3">
        <img src="{{ banner_cl.image.url }}" alt="">
        <div class="img-container-content img-container-content-2 text-white">
            <div class="mb-2 text-shadow">
                <h2 class="h2">{{ banner_cl.title }}</h2>
                <p class="font-lg">{{ banner_cl.caption }}</p>
            </div>
            <a href="{{ banner_cl.get_absolute_url }}" class="btn btn-lg btn-white">{{ banner_cl.btn_text }}</a>
        </div>
    </div>
    {% endif %}
    <div class="grid__row">
        {% if banner_bl %}
        <div class="grid-6 grid-xs-12">
            <div class="img-container img__bottom">
                <img src="{{ banner_bl.image.url }}" alt="">
                <div class="img-container-content img-container-content-3">
                    <div class="mb-1 text-shadow">
                        <h2 class="h2">{{ banner_bl.title }}</h2>
                        <p class="font-md">{{ banner_bl.caption }}</p>
                    </div>
                    <a href="{{ banner_bl.get_absolute_url }}" class="btn btn-white">{{ banner_bl.btn_text }}</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% if banner_br %}
        <div class="grid-6 grid-xs-12">
            <div class="img-container img__bottom">
                <img src="{{ banner_br.image.url }}" alt="">
                <div class="img-container-content img-container-content-3 img-container-content-4">
                    <div class="mb-1 text-shadow">
                        <h2 class="h2">{{ banner_br.title }}</h2>
                    </div>
                    <a href="{{ banner_br.get_absolute_url }}" class="btn btn-white">{{ banner_br.btn_text }}</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>