<ul class="navigation__nav">
    {% for store_category in store_categories %}
    <li>
        <a href="Javascript:void(0)">{{ store_category.name }}</a>
        <div class="megamenu__container">
            {% for store_sub_category in store_sub_categories %}
            {% if store_sub_category.store_category == store_category %}
            <div class="megamenu__container-col">
                <a href="{{ store_sub_category.get_absolute_url }}">
                        <h5 class="h5 text-black oswald text-uppercase mb-2">{{ store_sub_category.name }}</h5>
                    {% if store_sub_category.image %}
                    <img src="{{ store_sub_category.image.url }}" class="icon">
                    {% endif %}
                </a>
                <ul class="list">
                    {% for product_category in product_categories %}
                    {% if product_category.store_sub_category == store_sub_category %}
                    <li><a href="{{ product_category.get_absolute_url }}">{{ product_category.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </li>
    {% endfor %}
</ul>