<div class="input-icon">
    <form action="{% url 'shop:search' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Search" class="form-control" name="search">
        <span>
            <a href="#" class="header__tp-xs-search-close"><i class="fa fa-close"></i></a>
        </span>
    </form>
</div>