<div class="input-icon">
    <form action="{% url 'shop:search' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Search" class="form-control" name="search">
        <span><button><i class="fa fa-search"></i></button></span>
    </form>
</div>