{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}Styl Admin | Styl Site Administration{% endblock %}

{% block extrahead %}
<link rel="shortcut icon" href="/static/build/img/favicon.png" type="image/x-icon">
<link rel="icon" href="/static/build/img/favicon.png" type="image/x-icon">
{% endblock %}

{% block branding %}
<a href="/admin"><h1 id="site-name">Styl Administration</h1></a>
{% endblock %}