#mdl786Adevs{
    position: fixed;
    width: 100%;
    z-index: 99999;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}
.mdl786Adevs-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 1px 1px 20px #00000017;
    padding: 20px;
    border-radius: 5px;
    max-width: 80vw;
    width: 100%;
}
.mdl786Adevs-dismiss{
    text-decoration: none;
    position: absolute;
    right: -15px;
    top: -15px;
    background: #000;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff !important;
    display: inline-block;
    border-radius: 100%;
}
.item__importer-scroll{
    height: 50vh;
    overflow-y: scroll;
}
.item__importer-container::before{
    content: '';
    clear: both;
}
.item__importer{
    box-sizing: border-box;
    float: left;
    width: calc((100% / 3) - 5px);
    margin: 0 5px 5px 0;
    padding: 10px;
    border: 10px solid transparent;
}
.item__importer-content > *{
    display: inline-block;
    vertical-align: top;
    width: 60%;
}
.item__importer.imported{
    border: 10px solid #8bc34a;
}
.item__importer-img{
    width: 30%;
}
.item__importer-img img{
    width: 100%;
}
.item__importer, .btn{
    transition: 0.25s all ease;
}
.item__importer-desc {
    margin-left: 3px;
}
.item__importer-desc h3{
    font-size: 17px;
    line-height: 25px;
}
a.btn{
    padding:2px 5px;
    color: #fff;
}
a.btn-danger{
    background: #e91e63
}
a.btn-danger:hover{
    background: #bd164f
}
a.btn-success{
    margin-right: 3px;
    background: #009688
}
a.btn-success:hover{
    background: #035f56
}
.mb-1{
    margin-bottom: 10px;
}