{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<main>
    <div class="breadcrumb slice bg-primary" style="min-height:20vh;">
        <div class="container">
            <h4 class="h4 oswald text-uppercase mb-1">About Us</h2>
            <ul class="breadcrumb__list">
        </div>
    </div>
    <div class="body">
        <div class="map">
            <img src="/static/build/img/banner/bg-1.jpg" alt="">
        </div>
        <section class="slice pad-4">
            <div class="col-md-8 offset-md-2 col-lg-8 offset-lg-2 lead-fonts">
                <p><b>STYL</b> was created to bring you curated fashion pieces from across all of your favourite brands in one location. You can browse collections curated specifically for you by our fashion aficionados or your favourite influencers.</p>
                <p>Long gone are the days of scrolling for hours on end across multiple online stores just to find one dress that you actually liked - we and our trusted STYLists are always creating a new way for you to browse and shop, effortlessly.</p> 
                <p>After you’ve found a STYList you can trust – check back in when they’ve got a new collection. Oh, and don’t forget to create a wish list of your favourite items from across the brands you’re shopping at right now.</p>                    
            </div>
        </section>
    </div>
</main>
<script src="/static/build/js/script.js"></script>
{% endblock %}