{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
<main>
    <div class="breadcrumb slice bg-primary" style="min-height:20vh;">
        <div class="container">
            <h4 class="h4 oswald text-uppercase mb-1">Contact</h2>
            <ul class="breadcrumb__list">
        </div>
    </div>
    <div class="body">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22572644.038412355!2d-5.391744769490811!3d46.320765234864005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x25a3b1142c791a9%3A0xc4f8a0433288257a!2sUnited+Kingdom!5e0!3m2!1sen!2sin!4v1540532983474" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <section class="contact slice pad-4">
            <div class="row text-center">
                <div class="col-md-6">
                    <h5 class="h5 oswald text-black mb-2">Contact Info</h5>
                    <div class="mb-2">
                        <p class="text-black mb-2 bold">Address</p>
                        <p class="font-sm">HUMANMADE Products, 1 Primrose Street, London</p>
                        <p class="text-black mb-2 bold">Email</p>
                        <p class="font-sm">hello@styl.me.uk</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5 class="h5 oswald text-black mb-2">Write Us</h5>
                    <ul class="error-list">
                        {% if form.full_name.errors %}
                        {% for err in form.full_name.errors %}
                        <li>{{ err }}</li>
                        {% endfor %}
                        {% endif %}
                        {% if form.email.errors %}
                        {% for err in form.email.errors %}
                        <li>{{ err }}</li>
                        {% endfor %}
                        {% endif %}
                        {% if form.phone.errors %}
                        {% for err in form.phone.errors %}
                        <li>{{ err }}</li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                    <form action="{% url 'shop:contact' %}" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-1">
                                    <input type="text" placeholder="Full Name" class="form-control" name="full_name" value="{% if form.full_name.data != None %}{{ form.full_name.data }}{% endif %}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-1">
                                    <input type="email" placeholder="Email" class="form-control" name="email" value="{% if form.email.data != None %}{{ form.email.data }}{% endif %}">
                                </div>
                            </div>
                        </div>
                        <div class="mb-1">
                            <input type="tel" placeholder="Phone" class="form-control" name="phone" value="{% if form.phone.data != None %}{{ form.phone.data }}{% endif %}">
                        </div>
                        <div class="mb-1">
                            <textarea id="" placeholder="Message" rows="5" class="form-control" name="message" value="{% if form.message.data != None %}{{ form.message.data }}{% endif %}"></textarea>
                        </div>
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="Send Message">
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
<script src="/static/build/js/script.js"></script>
{% endblock %}