{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
{% load store_landing %}
{% if messages %}
{% for message in messages %}
{% if message.tags == "error" %}
<div class="alert alert-danger">
    {{ message|safe }}
    <button type="button" class="alert-dismiss"><i class="fa fa-close"></i></button>
</div>
{% else %}
<div class="alert alert-success">
    {{ message|safe }}
    <button type="button" class="alert-dismiss"><i class="fa fa-close"></i></button>
</div>
{% endif %}
{% endfor %}
{% endif %}
<main>
    <div class="body" style="transform:none">
        {% show_category_banners store_landing %}
    </div>
</main>
<script src="/static/build/js/index.js"></script>
{% endblock %}