{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<main>
    <div class="body body-2 bt">
        <h5 class="h5 text-black mb-2">Privacy Policy</h3>
        <div class="lead-fonts">
            <p><strong>HumanMadeCreations Ltd</strong> includes the brand STYL.ME.UK (&ldquo;STYL&rdquo;). We take your privacy very seriously.</p>
            <p>For the purposes of this Privacy Policy, references to STYL are ("we", "us" or "our").</p>
            <p>We are the data controller in relation to the processing of the personal information that you provide to us when you use our Services. If you have any queries relating to our use of your personal information, if you want to contact our data protection officer or if you have any other related data protection questions, please contact our Customer Service Team at hello@styl.me.uk.</p>
            <p><strong>From you</strong> - Most of the personal information we collect will be direct from you when you use the Services.  We will collect this information from you through the websites, mobile applications or other similar devices, channels or applications.</p>
            <p>2.2.<strong>  From our partners </strong>&ndash; If you purchase a product from one of our partners whose products are shown on our Site then they may send us information they hold relating to the product(s) you have purchased.  This allows us to track sales and improve our Services.</p>
            <p>2.3. <strong>From our channel operators</strong> - whilst the majority of the channels on our Sites are run by us, some of our channels are designed, maintained and/or run for us by our trusted channel operators.  We may receive your personal information from our channel operators and use it in accordance with section 4 below.  Where our channel operators collect your personal information on a channel which is maintained by them, they will be acting as the data controller of your personal information.  </p>
            <p>2.4. <strong>From our suppliers</strong> &ndash; We will sometimes use other companies to collect and process your personal information on our behalf, for example we may use IT service providers or market research agencies. Where we use third parties we will make sure that they commit to keep your information safe.  </p>
            <p>The personal information we may collect when you use the Services includes your name, address, email address, telephone number, date of birth, driving history and details about your vehicle/home together with details of your financial information, for example, bank account or payment details. We use this data, to obtain comparative quotes for insurance, home services or money products, or when searching for travel deals.</p>
            <p><strong>In the course of providing the Services to you</strong>, we may also store information about how you use our Sites, for example, the pages viewed, the website from which you came to visit our Sites, changes you make to information you supply to us, details of the quotes you request and your transactions. </p>
            <p>3.1.  We do not knowingly collect or store any personal information about <strong>children under the age of 16</strong>.  If you are aged under 16 please get your parent or guardian&rsquo;s permission before you provide any personal information to us.</p>
            <p>3.2.  We may <strong>monitor or record</strong> your calls, emails, sms or other communications but we will do so in accordance with data protection legislation and other applicable law. Monitoring or recording will always be for business purposes, such as for quality control and training (e.g. where you call our customer services help line), to prevent unauthorised use of our telecommunication systems and Sites, to ensure effective systems operation, to meet any legal obligation and/or to prevent or detect crime.</p>
            <p>3.3.   In order to ensure the Services we provide you continue to meet your needs we may ask you for <strong>feedback</strong> on your experience of using the Sites. Any feedback you provide will only be used as part of our programme of continuous improvement and will not be published on the Sites.</p>
            <p>Note that it is your responsibility to check and ensure that all information, content, material or data you provide on the Sites is <strong>correct, complete, accurate</strong> and not misleading and that you disclose all relevant facts</p>
            <p><strong>We may use your personal information: </strong></p>
            <p><strong>4.1  to enable you to access and use the Services including</strong>:</p>
            <p>4.1.1. verifying your identity, managing, running and administering your account or use of any mobile applications if you choose to set up a Site account or download mobile applications;</p>
            <p>4.1.2. passing it to our<strong> partners </strong>including companies whose products or services are included on our Sites, with a view to them providing you with an online quote or eligibility score for the product/service requested by you. When our partners use your personal information to provide a quote they will act as data controllers of your personal information.</p>
            <p>4.1.3   to make it easier for you to use the Sites we will store the personal information you provide and may use it to <strong>pre-populate</strong> fields on the Sites when making return visits;</p>
            <p>4.1.4.  to <strong>process a transaction </strong>between you and a third party;</p>
            <p>4.1.5. to <strong>track sales</strong>, which may involve us sharing data with your product provider relating to the product(s) you have purchased; </p>
            <p>4.1.6. to enable you to <strong>share our content </strong>with others, e.g. by using any 'Email a friend' or 'Share this' functionality on our Sites;</p>
            <p><strong>4.2.  to communicate with you, including some or all of the following:</strong></p>
            <p>4.2.1. <strong>sending you information about products and services which we think may be of interest to you </strong>&ndash; We will only send you this information if you give us your consent for us to do so.  We will  contact you (depending on your contact preferences) via email, post, telephone, sms, or by other electronic means such as via social and digital media this may include new product launches, newsletters and opportunities to participate in market research;</p>
            <p><strong>4.3  to personalise and improve aspects of our Services including:</strong></p>
            <p>4.3.1. to <strong>improve our recommendations and insights</strong>. The information we collect helps us tailor our content and improve our suggestions and recommendations to you and other users about products or services that may interest you or them. We also use that information to provide you insights about your credit health;</p>
            <p>4.3.2. to <strong>match our data with data from other sources </strong>- we may validate and analyse your information and, in some cases, match it against information that has been collected by a third party to ensure that the information we hold about you is as accurate, consistent and well-organised as possible. As well as ensuring that any marketing material that we send you is appropriate to your needs, this process also ensures that our Services continue to be as personalised and focused as possible;</p>
            <p>4.3.3.  to populate our <strong>customer insight products </strong>which are available to subscribers.  We may pass certain insight products to our partners to help them understand customer behaviours and develop their product offerings.  When we pass them this information, where possible, it will be in an anonymised and aggregated format; and</p>
            <p><strong>4.4.  for research, such as analysing market trends and customer demographics including:</strong></p>
            <p>4.4.1.  we may contact you to ask you to assist us with market research by asking you questions about the Services and asking you if you would like to complete a review of the Services.  We may sometimes ask market research companies to contact you on our behalf; and</p>
            <p>4.4.2.  we may use the data relating to your quotes, your personal information and information about the policies and contracts you have taken out to carry out various research and analysis activities to help us review and improve the Sites or our Services.</p>
            <p> </p>
            <p><strong>5.1 Who do we share your personal information with?</strong></p>
            <p> </p>
            <p>If you click through to any of our partners websites, provide them with additional information on their websites and/or if you decide to purchase a product from any of our partners then they will be data controllers of your personal information and you should read their own privacy policy which you should find on their website.   </p>
            <p>We will only collect and use your personal information in accordance with data protection laws.  Our legal grounds for processing your personal information in the ways described in this Privacy Policy are as follows:</p>
            <p>6.1. <strong>Performance of a contract - </strong>In order to provide you with the Services and manage your account we will: (i) search the websites of our partners to get you the best products; (ii) process any transaction between you and a third party; and (iii) manage, run and administer your account.  When we do this we are processing your personal information because it is necessary to perform the contract that we have in place with you to provide you with our Services.</p>
            <p>6.2. <strong>Consent &ndash; </strong>We will only send you certain marketing emails if you have confirmed that you are happy to receive this material. <strong> </strong>Where  we have asked for your consent, we will only collect and process your personal information if you have given your consent for us to do so.</p>
            <p>6.3.<strong>  Legitimate Interests &ndash;</strong> We may use and process some of your personal information where we have sensible and legitimate business grounds for doing so.  Under European privacy laws there is a concept of &ldquo;legitimate interests&rdquo; as a justification for processing your personal information.  Our legitimate interests for processing your personal information are:</p>
            <p>6.3.1.  to communicate with you about the Services.  We need to keep you informed about your use of the Services for example sending you a confirmation email of your quotes.  This won&rsquo;t include marketing communications unless you have given us your consent to receive these;</p>
            <p>6.3.2.   to personalise and improve our Services for example, we may use your personal information to personalise aspects of our service; and to allow you to use our eligibility checker services.  We constantly aim to improve our Services to you and using your personal information in this way helps us to do this; and</p>
            <p>6.3.3. for market research and analysis.  This helps us to regularly review and improve the products and services we or our partners provide.  Where possible data that we use/provide in this way will be in an anonymised format.</p>
            <p>You have the right to object to our use of your personal information for these legitimate interests.  If you raise an objection we will stop processing your personal information unless very exceptional circumstances apply, in which case we will let you know why we are continuing to process your personal information</p>
            <p><strong>A cookie is a very small text file placed on your computer or device</strong>. Cookies help us to:</p>
            <p>7.1.  understand browsing habits on the Sites;</p>
            <p>7.2.  understand the number of visitors to the Sites and the pages visited; and</p>
            <p>7.3.  remember you when you return to the Sites so we can provide you with access to previously saved quotes.</p>
            <p>The advertisements that you see displayed on our Sites are delivered on our behalf by certain third party advertising companies. No information which directly identifies you, for example your name, address, email address or telephone number, is used to provide this advertising. In order to display advertising most likely to be relevant to you, these third party advertisers may place or recognize a unique cookie on your browser. This cookie does not collect personal information about you nor is it linked to any identifiable information about you.</p>
            <p> </p>
            <p>Your personal information&rsquo;s security is very important to us. This is why, where it&rsquo;s appropriate, our Sites use HTTPS to help keep information about you secure. However, no data transmission over the internet can be guaranteed to be totally secure. Certain information, for example, your credit card details, is encrypted to minimise the risk of interception during transit.</p>
            <p>You may complete a registration process when you sign up to use parts of the Sites. This may include the creation of a username, password and/or other identification information. Any such details should be kept confidential by you and should not be disclosed to or shared with anyone. Where you do disclose any of these details, you are solely responsible for all activities undertaken on the Sites where they are used. To protect your account, we ask you to choose a strong password to access your information on our Sites. A strong password should be lengthy and include a mixture of letters and numbers. Your password can only be reset with access to the email address registered in our system.</p>
            <p>It might sometimes be necessary for us or our suppliers to transfer your personal information outside of the European Economic Area (EEA) to locations that may not provide the same level of protection as  UK data protection laws.  However, we will only transfer your personal information out of the EEA if we have put in place appropriate safeguards and protections as stated under UK law for example by the use of a data-transfer agreement incorporating certain standard model protection clauses which have been approved by the European Commission, or if we send to the US pursuant to the Privacy Shield.</p>
            <p>Should you no longer wish to be contacted by us, you can advise us at any time by contacting our Customer Services team on <a href="mailto:hello@styl.me.uk">hello@styl.me.uk</a>.</p>
            <p> </p>
            <p>You have certain rights under data protection legislation in relation to the personal information that we hold on you including:</p>
            <p>11.1. <strong>Right to access</strong>: the right to a copy of the personal information we hold about you.  We&rsquo;ll ask you to describe the information you require, as well as letting us know about any other email addresses you&rsquo;ve used on our Sites, to enable us to trace your personal information. Depending on the nature of your request, we may also ask you for your full name, your date of birth and your full address and documents to allow us to verify your identity. Requests for copies of your personal information will be dealt with within one month, unless your request is complicated or if you have made a large number of requests.  In these circumstances it may take us longer to deal with your request, in which case we will let you know if we need longer than one month to respond;</p>
            <p>11.2. <strong>Right to correct</strong>: the right to have your personal information rectified if it is inaccurate or incomplete. Requests for us to correct your personal information will be dealt with within one month, unless your request is complicated or if you have made a large number of requests.  In these circumstances it may take us longer to dealt with your request, in which case we will let you know if we need longer than one month to respond. If we believe that your personal information is accurate, we will let you know that that we will not be amending your personal information and why;</p>
            <p>11.3. <strong>Right to erasure and to restrict our use of your information:</strong> the right to request that we delete or remove your personal information from our systems.  Data protection laws give exceptions to this right which, if applicable, we will explain in our response to you;</p>
            <p>11.4. <strong>Right to restrict our use of your information</strong>: In some circumstances you can  &lsquo;block&rsquo; us from using your personal information or limit the way in which we can use it;</p>
            <p>11.5. <strong>Right to data portability</strong>: the right to request that we move, copy or transfer your personal information; </p>
            <p>11.6. <strong>Right to object</strong>: the right to object to our use of your personal information including where we use it for our legitimate interests or where we use your personal information to carry out profiling to inform our market research and customer demographics. If you raise an objection we will stop processing your personal information unless very exceptional circumstances apply, in which case we will let you know why we&rsquo;re continuing to process your personal information.</p>
            <p>To make enquiries or exercise any of your rights set out in this Privacy Policy please contact our Customer Services team at hello@styl.me.uk</p>
            <p>If you are not satisfied with the way any complaint you make in relation to your personal information is handled by us then you may be able to refer your complaint to the relevant data protection regulator which in the UK is the Information Commissioner&rsquo;s Office.</p>
            <p>This Privacy Policy shall be governed and construed in all respects in accordance with the laws of England and Wales.</p>
            <p><strong>We will only hold your personal information on our systems for the period necessary to fulfil the purposes outlined in this Privacy Policy</strong> or until you request it is deleted (unless a longer retention period is required or permitted by law). </p>
            <p>Generally, you can expect us to keep your personal information while you use the Sites or if you have an active account with us.  Where you have applied for or purchased products or services via the Sites we will need to keep your personal information for longer for accounting purposes - up to six (6) years following the date on which it is provided to us. </p>
            <p>If, having registered for any of our Services, you do not use them for a reasonable time (which may vary depending on the Service(s) you&rsquo;ve registered for) we may contact you to ensure you&rsquo;re still happy to receive communications from us. </p>
            <p>If one of our partners processes your data in order to provide you with a quote they will be acting as data controller but they should only hold that data for so long as is reasonable in relation to providing you with that quote.</p>
            <p>If you purchase a product then the service provider will keep your personal information in accordance with their own retention periods and so you should check their own privacy policy for further information. </p>
            <p>Even if you delete or ask us to delete your personal information it may persist on backup or archival media for legal, tax or regulatory purposes.</p>
            <p><strong>We reserve the right to amend or modify this Privacy Policy at any time and any changes will be published on the Sites. </strong> The date of the most recent revision will appear on this page.  If we make significant changes to this policy, we may also notify you by other means such as sending an email.  Where required by law we will obtain your consent to make these changes.  If you do not agree with any changes please do not continue to use the Sites.</p>
        </div>
    </div>
</main>
<script src="/static/build/js/script.js"></script>
{% endblock %}