{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<main>
    <div class="body body-2 bt">
        <h5 class="h5 text-black mb-2">Terms & Conditions</h3>
        <div class="lead-fonts">
            <p>Terms and Conditions: </p>
            <p><strong>Who are we?</strong></p>
            <p>The Sites are owned and operated by HumanMadeCreations Ltd. HumanMadeCreations Ltd includes the brands Styl.me.uk, Styl.co.uk and Styl.com (&ldquo;STYL&rdquo;). </p>
            <p><strong>Definitions</strong></p>
            <p>In these Terms of Use:</p>
            <ul>
                <li>"Product" means any third party product or service that we display on our Sites;</li>
                <li>"Site" means any mobile applications or other similar devices, channels or applications operated by or on behalf of any of the following brands:</li>
            <ul>
                <li>STYL</li>
                <li>STYL.co.uk</li>
                <li>STYL.me.uk</li>
                <li>STYL.com</li>
            </ul>
            </ul>
            <p> (referred to collectively as the "Sites"); and</p>
            <ul>
                <li>"you" and "your" means any person who accesses and uses the Sites.</li>
            </ul>
            <p><strong>How to use these Terms of Use</strong></p>
            <p>These Terms of Use are divided into two Parts. Part 1 applies to all our Products - sections 3 and 4 of Part 1 are especially important as they limit our liability to you and set out your responsibilities. Part 2 contains additional terms in relation to specific Products.</p>
            <p><strong>Your acceptance of these Terms of Use</strong></p>
            <p>Access to and use of the Sites are subject to these Terms of Use and our Privacy Policy. By accessing and using the Sites you agree to be bound by and to act in accordance with these Terms of Use and our Privacy Policy. If you do not agree to these Terms of Use or our Privacy Policy, you should stop using and/or accessing the Sites immediately. If you breach any term of these Terms of Use, your right to access and use the Sites will cease immediately.</p>
            <p><strong>Changes to these Terms of Use</strong></p>
            <p>We reserve the right to amend these Terms of Use from time to time by amending this page. The amended Terms of Use will be effective from the date they are posted on the Sites.</p>
            <p><strong>How to contact us</strong></p>
            <ol>
                <li> If you have any questions about these Terms of Use, or would like to contact us for any other reason, you can contact us:</li>
            </ol>
            <ul>
                <li>by email: hello@styl.me.uk </li>
            </ul>
            <ol>
                <li> If you are dissatisfied with any aspect of our Sites or our service, and would like to make a complaint, see Complaints below.</li>
            </ol>
            <p><strong>Our service</strong></p>
            <p>We provide an independent online service which enables you to research and view clothing, accessories, footwear and any other products or services provided by third parties. Our service is free for you to use. We receive a fee and/or commission from providers when you use our service to purchase Products..</p>
            <p><strong>Permitted use</strong></p>
            <ol>
                <li> The Sites are for your personal, non-commercial use only. They may only be accessed and used by a private individual or by a business to seek a Product directly for that individual or business. Access to and use of the Sites other than for your personal, non-commercial purposes is strictly prohibited.</li>
                <li> You are not permitted to use the Sites:</li>
            </ol>
            <ul>
                <li>in any unlawful, fraudulent or commercial manner;</li>
                <li>to harm, threaten, abuse, embarrass, defame, libel, intimidate or harass another person, or in a way that invades another person's privacy or is obscene, offensive, hateful, indecent, inappropriate, objectionable, unacceptable, discriminatory or damaging as determined by us;</li>
                <li>to create, check, confirm, update, modify or amend another person's records;</li>
                <li>to tamper with, modify, reverse engineer or amend any part of this Sites;</li>
                <li>in a way that interferes with, disrupts or imposes an unreasonable or disproportionately large burden on our communications and technical systems; or</li>
                <li>with any automated software, process, program, robot, web crawler, spider, data mining, trawling or other "screen scraping" software, process, program or system.</li>
            </ul>
            <ol>
                <li> The Site is intended for use only by customers who are located in the UK. We make no warranty or representation that any Product and/or any service we provide is available or otherwise appropriate for use outside of the UK. If you choose to use the Sites from locations outside the UK, you do so at your sole risk and you are responsible for compliance with all applicable local laws.</li>
                <li> the Site is intended for the use of over-16s only.</li>
            </ol>
            <p>e You may operate a link to the Sites provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, as determined by us. You must not operate a link to the Sites in such a way as to suggest or imply any form of association, approval or endorsement by us. We reserve the right to require you to remove any link to the Sites immediately and at any time and we may withdraw any linking permission at any time</p>
            <p><strong>Intellectual Property</strong></p>
            <ol>
                <li> The trade marks, copyright, database rights and other intellectual property rights in the Sites and in the information, content, material or data that we display on the Sites belong to us or our licensors and all such rights are reserved.  You must not use such information or copyright material unless you have written permission from us to do so.</li>
                <li> You may temporarily print, copy, download or store extracts of information, content, material or data displayed on the Sites for your own personal, non-commercial use, provided you do not otherwise breach these Terms and Conditions.</li>
                <li> All rights in STYL are owned by us.</li>
                <li> You will retain ownership of any content that you submit, or otherwise make publicly available on or through the Sites ("User Content"). You grant us a perpetual, irrevocable, transferable, worldwide, royalty free and unlimited licence to use such User Content in any manner and for any purpose. </li>
            </ol>
            <p><strong>Payments</strong></p>
            <ol>
                <li> You agree to pay any fees and/or other charges incurred by you in accordance with any payment provisions set out on the Sites.</li>
                <li> In general, payment for a Product will be made on the relevant third party website when purchasing that Product.</li>
            </ol>
            <p><strong>Security</strong></p>
            <p>We subscribe to the latest in internet security standards so you can shop with confidence online. When you enter a protected area, a small padlock or key will be displayed at the bottom of the screen indicating that you have a secure connection with us. You can rest assured that the information you supply is encrypted and cannot be read by anyone else.</p>
            <p><strong>Your personal information and User Content</strong></p>
            <ol>
                <li> Before you obtain any Product from a provider, you must check all of the information, content, material or data the provider holds about you to ensure it is correct, complete, accurate and not misleading and that you have disclosed all relevant facts. It is your responsibility to identify and correct any mistakes or errors in the information, content, material or data before you obtain any Product. Failure to do so could invalidate the Product.</li>
                <li> You must ensure that your User Content complies with the guidelines set out in these Terms of Use.</li>
                <li> If you create any usernames and passwords when using the Sites, they must be kept confidential by you and must not be shared with anyone. If you do disclose to anyone your username, password and/or other identification information, you are solely responsible for all activities undertaken on the Sites using your username, password and/or other identification information.</li>
            </ol>
            <p><strong>Suitability of Products</strong></p>
            <ol>
                <li> The Products displayed on our Sites are not provided by us but by third parties over whom we do not have control.</li>
                <li> You should always check the suitability, adequacy and appropriateness of the Product that is of interest to you. It is your responsibility to satisfy yourself that you wish to obtain any Product before applying for it. If you are in any doubt as to the suitability, adequacy or appropriateness of any Product referred to on the Sites, we suggest that you seek independent professional advice before you obtain it.</li>
                <li> The Sites provide information on a wide range of products and services but there may be other products or services available on the market which are not shown on the Sites and which may be more appropriate or suitable for you than those shown on the Sites.</li>
            </ol>
            <p><strong>Third party websites and services</strong></p>
            <ol>
                <li> Your use of any Provider websites and your obtaining of any Products will be subject to the Provider's own terms and conditions (which will be different from ours). It is very important before you apply for any Product that you carefully read the accompanying terms and conditions, the Provider's terms and conditions and any other documentation that applies to the Product. You must familiarise yourself with all the details of the product.</li>
                <li> Any links to third party websites on our Sites or in our emails are provided for your interest and convenience only. These websites are owned and operated by third parties over whom we do not have control. We do not endorse, recommend or accept responsibility for such third parties, their products or services, their websites or for any information, opinions or views given or advice provided by such third parties (whether on their websites or otherwise).</li>
            </ol>
            <p><strong>The information on our Sites</strong></p>
            <ol>
                <li> We aim to ensure that the material on the Sites is accurate. We also try to correct any errors or omissions as soon as we can after being notified of them. However, we are not able to guarantee that the material on the Sites is accurate and free from errors or omissions at all times. We reserve the right to add, amend, delete, edit, remove or modify any information, content, material or data displayed on the Sites at any time and without notice.</li>
                <li> Nothing on the Sites is financial, investment or other advice or a recommendation or endorsement by us in respect of any Product referred to on a Site. Information on the Sites is provided for general information purposes only, should not be relied upon by you and is provided so that you can select the Product that you feel is most appropriate to meet your needs.</li>
                <li> The information and descriptions of Products on the Sites may not represent the complete descriptions of all the features and terms and conditions of those Products. You must ensure that you carefully read all the features and terms and conditions (including those contained on the provider's Site) of any Product before applying for it.</li>
                <li> Some of our channels provide you with access to third party websites that host reviews about products and services. Sometimes you may also be able to access user reviews directly on the Sites. The views expressed in any such reviews do not represent our views or the views of our associated companies.</li>
            </ol>
            <p><strong>Availability of the Sites</strong></p>
            <p>We aim to provide uninterrupted access to the Sites but we give no warranty on this. We reserve the right to suspend, restrict or terminate your access to the Sites at any time.</p>
            <p><strong>Exclusions of our liability</strong></p>
            <ol>
                <li> Nothing in these terms and conditions excludes or limits our liability for death or personal injury caused by our negligence or for our fraud, or excludes or limits our duties or any liability under the Financial Services and Markets Act 2000, as amended, ("FSMA") or any conduct of business rules developed pursuant to FSMA.</li>
                <li> Subject to the paragraph immediately above, we do not accept any responsibility or liability for any loss or damage you may incur:</li>
            </ol>
            <ul>
                <li>if any information, content, material or data you provide on the Sites is not correct, complete and accurate, or if it is misleading, or if you fail to disclose all relevant facts;</li>
                <li>in the event that any Product you apply for does not meet your requirements or is not suitable for you;</li>
                <li>in connection with the accuracy or content of any reviews of products or services displayed on our Sites or on any other website that you may access via our Sites;</li>
                <li>for any acts, omissions, errors or defaults of any third party in connection with that product or service;</li>
                <li>which are indirect or not foreseeable by us when you accessed or used the Sites;</li>
                <li>arising from an inability to access the Sites, from any use of the Sites or from reliance on the data transmitted using the Sites where such losses or damages are caused by any event beyond our reasonable control including as a result of the nature of electronic transmission of data over the internet;</li>
                <li>in connection with any act, omission, error or default by any investment fund or ISA provider or any other third party in the provision of any product or service, or the execution of, or any investment made by you; or</li>
                <li>in connection with any voucher codes that you obtain via our Vouchers channel.</li>
            </ul>
            <ol>
                <li> We do not give any warranty that the Sites are free from viruses or anything else which may have a harmful effect on any technology.</li>
            </ol>
            <p><strong>Compliants</strong></p>
            <p>We aim to provide you with an excellent service at all times. If you are unhappy with our service for any reason, please contact our Customer Services Team.</p>
            <ul>
                <li>by email: <a href="mailto:hello@styl.me.uk">hello@styl.me.uk</a></li>
            </ul>
            <ol>
                <li> We will aim to send you a formal acknowledgement of your complaint within 48 hours and to resolve it as soon as possible. After we have had an opportunity to investigate your concerns, we will issue you with a final response. If you aren't satisfied with our response, depending on the nature of your complaint, you may have the right to refer your case to:</li>
            </ol>
            <ul>
                <li>the Financial Ombudsman Service at South Quay Plaza, 183 Marsh Wall, London, E14 9SR; telephone: 0800 023 4 567; email:enquiries@financial-ombudsman.org.uk; website <a href="http://www.financial-ombudsman.org.uk/"><strong>http://www.financial-ombudsman.org.uk/</strong></a> (if your complaint relates to financial services products); or</li>
                <li>the Ombudsman Service at Ombudsman Services: Energy, PO Box 966, Warrington, WA4 9DF; Telephone: 0330 440 1624; email: <a href="mailto:osenquiries@os-energy.org"><strong>osenquiries@os-energy.org</strong></a>; website: <a href="http://www.ombudsman-services.org/energy"><strong>www.ombudsman-services.org/energy</strong></a> (if your complaint relates to our energy services). We will advise you if such a right of referral applies to you. If you want to raise a formal dispute about any of our online services, you can also use the European Commission's Online Dispute Resolution Portal at: <a href="https://webgate.ec.europa.eu/odr"><strong>https://webgate.ec.europa.eu/odr</strong></a>; or</li>
                <li>the Information Commissioner&rsquo;s Office: Telephone: 0303 123 1113; website <a href="https://ico.org.uk/concerns/"><strong>https://ico.org.uk/concerns/</strong></a> (if your complaint relates to how we have handled your personal information.</li>
            </ul>
            <p>If you are unhappy with any product or service you have obtained from a third party or have any complaint regarding any third party, you should address your complaint <strong>directly to that third party</strong>. If you require their contact details, please contact our Customer Services Team who will be happy to assist.</p>
            <p><strong>Legal</strong></p>
            <ol>
                <li> If any provision of these Terms of Use is held to be unlawful, invalid or unenforceable, that provision shall be deemed deleted from these Terms of Use and the validity and enforceability of the remaining provisions of these Terms of Use shall not be affected.</li>
                <li> These Terms of Use, together with our Privacy Policy, constitute the entire agreement between you and us relating to your access to and use of the Sites and supersede any prior agreements (including any previous terms of use of the Sites).</li>
                <li> No failure or delay by us in exercising any right under these Terms of Use will operate as a waiver of that right nor will any single or partial exercise by us of any right preclude any further exercise of any right.</li>
                <li> These Terms of Use and your access to and use of the Sites shall be governed by and interpreted in accordance with English law.</li>
                <li> Each of you and us submits to the exclusive jurisdiction of the courts of England and Wales in connection with these Terms of Use and your access to and use of the Sites (including any claims or disputes).</li>
            </ol>
        </div>
    </div>
</main>
<script src="/static/build/js/script.js"></script>
{% endblock %}