@font-face {
    font-family: 'Oswald';
    src: url('/static/fonts/oswald/Oswald-Heavy.woff2') format('woff2'),
        url('/static/fonts/oswald/Oswald-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('/static/fonts/oswald/Oswald-DemiBold.woff2') format('woff2'),
        url('/static/fonts/oswald/Oswald-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('/static/fonts/oswald/Oswald-Bold.woff2') format('woff2'),
        url('/static/fonts/oswald/Oswald-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

